$w1440: 1440px

$w1366: 1366px

$w1280: 1280px

$h600: 600px

$laptop: 1024px
$t820: 820px
$tablet: 768px
$m475: 475px
$mobile: 425px
$m375: 375px
$m349: 349px

@mixin w1440
  @media (max-width: $w1440)
    @content

@mixin w1366
  @media (max-width: $w1366)
    @content

@mixin w1280
  @media (max-width: $w1280)
    @content

@mixin laptop
  @media (max-width: $laptop)
    @content

@mixin w1024
  @media (max-width: $laptop)
    @content

@mixin w1024
  @media (max-width: $laptop)
    @content

@mixin t820
  @media (max-width: $t820)
    @content

@mixin tablet
  @media (max-width: $tablet)
    @content

@mixin m475
  @media (max-width: $m475)
    @content

@mixin mobile
  @media (max-width: $mobile)
    @content

@mixin m375
  @media (max-width: $m375)
    @content

@mixin m349
  @media (max-width: $m349)
    @content